.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
  color: blue;
  border-color: transparent;
  box-shadow: none;
}

.langing {
  min-height: calc(100vh - 72px);
}

.contact img {
  height: 600px;
  width: 100%;
}